.sidebar {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
}
.sidebar .logo img {
  width: 8rem;
}
.sidebar .top-links {
  font-weight: 600;
  width: 100%;

  font-size: 0.94rem;
}
.sidebar .top-links ul {
  color: #adadad;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
.sidebar .top-links ul li {
  display: flex;
  align-items: center;
}
.sidebar .top-links ul i {
  margin-right: 1rem;
  font-size: 1.3rem;
  transition: 0.3s;
}
.sidebar .top-links ul li:hover {
  color: white;
}
